body {
    background-image: url("thijs-slootjes-lVOL-j5XtQY-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size:2vw;
    color : #FFC500;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:50% 0 0 0;
    position:relative;
}

.wrapper { 
    display:flex;
    height:100%;
    width:60%;
    margin: 0 auto;
    perspective:450px;
}

.scroller {
    position: relative;
    animation:scrolling 60s linear forwards;
}

p.intro {
    color: rgb(139, 139, 210);
    font-size:2vw;
    font-weight:bold;
}

p.text {
    text-align: justify;
}

img {
    max-width: 40%;
    height:auto;
    margin:50px 0;
}

@keyframes scrolling {
    from { 
        top:0;
        transform: translateZ(0) rotateX(20deg);
    }
    to {
        top:-7500px;
        transform: translateZ(-2500px) rotateX(21deg);
    }

}